{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>
    {% block body %}
        <style>
        td {
            overflow: hidden;
            max-width: 60px;
            word-wrap: break-word;
            }
        </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <body>
        <div class="row">
            <div class="col align-self-center">
                    <h1 class="text-primary">Halo, apa kabar?</h1>
                    <form method="POST">
                        {% csrf_token %}
                        {{ generated_formulir.as_p}}
                        <input type="submit" value="Klik!">
                    </form>
            </div>
        </div>
        <div class="container rounded">        
                <table style="width: 100%;" ;align="center">
                    <tr style="flex-wrap: initial;">
                        <th>Nama</th>
                        <th>Status</th>
                        <th>Waktu</th>
                    </tr>
                    {% for i in generated_model %}
                    <tr style="flex-wrap: initial;">
                        <td>{{i.nama}}</td>
                        <td>{{i.status}}</td>
                        <td>{{i.waktu}}</td>
                    </tr>
                    {% endfor %}
                </table>
        </div>
        {% endblock %}
    </body>
</html>