<!DOCTYPE html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    </head>
    <body>
        <script src="https://code.jquery.com/jquery-1.11.3.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <div style="text-align: center;">
            <h1 style="justify-items: center;">Perpustakaan </h1>
                <input  placeholder="Search" id="KotakPencarian">
                <button id="TombolSaya">Search</button>
        </div>   
        
        <div>
            <table class="align-items-center mx-auto mt-3 table table-bordered">
            <thead>
            <tr>
                <th>Thumbnail</th>
                <th>Judul</th>
                <th>Pengarang</th>
                <th>Deskripsi</th>
            </tr>
            </thead> 
            <tbody id = "data">
            {% for i in data_buku.items %}
            <tr>
              <td style="width: 10em;"><img src= "{{i.volumeInfo.imageLinks.thumbnail}}" alt="Tidak tersedia"></td>
              <td>{{i.volumeInfo.title}}</td>
              <td>{{i.volumeInfo.authors}}</td>
              <td>{{i.volumeInfo.description}}</td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

        <script>

        $("#TombolSaya").click(
            function() {
                var keyword = $("#KotakPencarian").val();
                $.ajax({
                    type: "GET",
                    dataType: "json",
                    url : "http://inisti6.herokuapp.com/story8/panggil_buku/?q="+keyword,
                    success: function (result) {
                        $("#data").empty();
                        for (let index = 0; index < 10; index++) {
                            var value = "<tr>";
                            // +function (result) {
                            if (result.items[index].volumeInfo.imageLinks==undefined) {
                                value +="<td>"+"None"+"</td>";
                                // $("#data").append("<td>"+"None"+"<td>");
                            } else {
                                value += "<td>"+"<img src ="+result.items[index].volumeInfo.imageLinks.thumbnail+" alt ='Tidak tersedia'>"+"</td>";
                                // $("#data").append("<td>"+"<img src ="+result.items[index].volumeInfo.imageLinks.thumbnail+" alt ='Tidak tersedia'>"+"</td>");
                            
                            }
                            // $("#data").append("<td>"+result.items[index].volumeInfo.title+"<td>");
                            value += "<td>"+result.items[index].volumeInfo.title+"</td>";
                            if (result.items[index].volumeInfo.authors == undefined) {
                            //    $("#data").append("<td> Tidak diketahui <td>");
                               value += "<td> Tidak diketahui </td>";
                            } else {
                                // $("#data").append("<ul><td>");
                                value += "<td><ul>";
                               for (let i = 0; i <result.items[index].volumeInfo.authors.length; i++) {
                                // $("#data").append("<li>"+result.items[index].volumeInfo.authors[i]+"</li>");
                                value += "<li>"+result.items[index].volumeInfo.authors[i]+"</li>";
                               }
                            //    $("#data").append("</td></ul>");
                               value += "</ul></td>";

                            }
                            if (result.items[index].volumeInfo.description==undefined) {
                                value += "<td>"+"Tidak ada Deskripsi"+"</td>";
                                // $("#data").append("<td>"+"Tidak ada Deskripsi"+"<td>");
                            } else {
                                value += "<td>"+result.items[index].volumeInfo.description+"</td>";
                                // $("#data").append("<td>"+result.items[index].volumeInfo.description+"</td>");
                            
                            }
                            // $("#data").append("<tr>");
                            value += "</tr>";
                            $("#data").append(value);
                        }
                    }
                })
                // e.preventDefault();
            }
        )
        </script>
    </body>
</html>
