<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Login</title>
</head>
<body style="background-color: lightpink;">
    <script src="https://code.jquery.com/jquery-1.11.3.js" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    {% load crispy_forms_tags %}
    <div class="d-flex align-items-center row justify-content-center">
        <div class="card">
            <div class="card-body">
                <h1>Login</h1>
                <form method="POST" novalidate>
                {% csrf_token%}
                {{form|crispy}}
                <h1></h1>
                <button type="submit" class="btn btn-primary">Log in</button>
                <a href="{% url 'signup' %}" class="btn btn-link">Create new account</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>