{% load static %}
<html>
    <h1>Load Balancer</h1>
    <h2>Apa itu Load Balancer ?</h2>
    <p>Load Balancer adalah alat yang memungkinkan kita mengakses satu web yang sebenarnya load balancer memanggil tidak hanya dari satu server. Bisa dari beragam server.</p>
    <h2>Bagaimana cara kerja Load Balancer?</h2>
    <p> Cara kerja Load Balancer adalah web yang sudah dibuat urlnya akan menuju ke load balancer dimana load balancer akan mengecek semua server yang sudah di cantumkan dalam Load Balancer yang kemudian ia meminta request dari salah satu server yang ada.</p>
    <h2>Apa keuntungan Load Balancer?</h2>
    <p>Keuntungan Load Balancer adalah High Availability dari suatu web sehingga saat terdapat satu server mati maka akan diatasi dengan cara load balancer akan pindah ke port/server yang berbeda sehingga Web tetap akan bisa diakses.</p>
    <h2>Bagaimana cara menggunakan Load Balancer ?</h2>
    <h3>1. Download Load Balancer</h6>
    <p>Hal pertama yang dilakukan adalah kita harus mendownload load balancer yang ingin digunakan
    . Kalian dapat menggunakan apa saja, contoh yang akan diberikan adalah menggunakan Nginx. 
    Dapat didownload di <a href="http://nginx.org/download/nginx-1.17.6.zip">Download disini!</a>
    atau kalian dapat mendownload dengan mengakses web Nginx.org secara langsung.<img src="{% static 'images/download.PNG'%}" alt="Download">
    </p>
    <h3>2. Ekstrak Nginx</h3>
    <p>Setelah mendownload Nginx kemudian ekstrak file yang ada dan pindahkan ke dalam project yang ingin di coba 
        <img src="{% static 'images/pindahkan.PNG'%}" alt="Pindahkan"> </p>
    <h3>3. Konfigurasi nginx</h3>
    <p>Konfigurasi Nginx dengan cara membuka file nginx.config kemudian ubah di bagian http
            <img src="{% static 'images/config.PNG'%}" alt="Config"> </p>
            <img src="{% static 'images/konfigurasi.PNG'%}" alt="Konfigurasi"> </p>
    </p>
    <h3>4. Settings views.py</h3>
    <p>Setelah konfigurasi nginx, Karena kita akan menampilkan dari server/port mana load balancer akan memilih.
        Maka jangan lupa untuk mensetting views.py project yang akan ditampilkan. Cara menampilkan dari port mana dengan cara sebagai berikut
        Line 1,4,7-9
        <img src="{% static 'images/views.PNG'%}" alt="views"> </p>
    </p>
    <h3>5. Nyalakan Server</h3>
    <p>Kemudian nyalakan server dari port yang sudah ada di konfigurasi
            <img src="{% static 'images/nyalakanserver.PNG'%}" alt="TurnOnServer"> </p>
    </p>
    <h3>6. Nyalakan Nginx</h3>
    <p>Nyalakan nginx dengan cara membuka app yang ada di dalam file nginx
            <img src="{% static 'images/nyalakanNginx.PNG'%}" alt="TurnOnNginx"> </p>
    </p>
    <h3>7. Pengujian</h3>
    <p>Langkah terakhir adalah dengan cara menguji url. Dengan cara mengakses localhost kemudian merefresh atau memuat ulang localhost
            <img src="{% static 'images/runserver.PNG'%}" alt="server1"> </p>
            <img src="{% static 'images/runserver2.PNG'%}" alt="server2"> </p>
    </p>

</html>