{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}">
  <title>Selamat Datang!</title>
  <style>
    section{
      min-height: 600px;
    }
  </style>
    
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="mt-5">
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color:#AA0534">
    <div class="container">
      <a class="navbar-brand">Aji Inisti</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% with url_name=request.resolver_match.url_name %}
          <li>
              <a class="nav-item nav-link" role="tab" href ="{% url 'landingpage:index' %}">Status</a>
          </li>
          <li>
              <a class="nav-item nav-link" href="{% url 'jspage:index' %}">JsQuery</a>
          </li>
          {% endwith %}
        </div>
      </div>
    </div>
  </nav>
    {% block body %}
    {% endblock body %}
  
    <div class="container text-center">
          <p class="mt-4 p">Aji Inisti Udma Wijaya © 2019</p>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
    