body {
    background-color: var(--bg-color);
    color: var(--font-color);
}

h2 {
    color: var(--secondary-color);
}

a {
    color: var(--primary-color);
}

.accordion{
    color: var(--font-color);
}

.label{
    color: var(--secondary-color);
}

.button{
    color: var(--secondary-color);
}

.p{
    color: var(--secondary-color);
}
.dark {
    --primary-color: #302AE6;
    --secondary-color: #536390;
    --font-color: #0e0d0d;
    --bg-color: #161625;
    --heading-color: #292922;
}

.light {
    --primary-color: #9A97F3;
    --secondary-color: #cc1414;
    --font-color: #161616;
    --bg-color:  #edeff5;
    --heading-color: #818cab;
}

