{% extends 'base.html' %}
{% load static %}
{% block body%}
<link rel="stylesheet" href="{% static 'baseaccordion.css'%}">
<!-- Default switch -->
<body class="light" id="body">
        <div class="custom-control custom-switch" style="margin-top: 2cm;;">
                <input type="checkbox" class="custom-control-input" id="customSwitches" onclick="ubahWarna()">
                <label class="custom-control-label label" for="customSwitches">Ganti Tema</label>
              </div>
                  <h2 style="text-align: center;">Kegiatan Saya</h2>
                  <!-- <div style="width:400px; margin:0 auto;"> -->
              <div class="accordion" id="accordionExample" style="width:400px; margin:0 auto;">
                <div class="card">
                  <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Aktivitas
                      </button>
                    </h2>
                  </div>
              
                  <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Saya adalah mahasiswa Ilmu Komputer, Universitas Indonesia. Saya berada di semester ke 3.
                        Aktivitas sehari-hari saya hanyalah kuliah-tidur kuliah tidur :(
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Kepanitiaan
                      </button>
                    </h2>
                  </div>
                  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body">
                      <ul>
                          <li>Pramuka 2015-2018</li>
                          <li>Panitia SIWAK NG 2019</li>
                          <li>Panitia Lomba Paskibra 2016</li>
                      </ul>
                      
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                      <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Prestasi
                      </button>
                    </h2>
                  </div>
                  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            Akan ditambah secepatnya :))
                        </ul>
                    </div>
                  </div>   
                </div>
            </div>     
            
    <script>
    function ubahWarna(){
        var el = document.getElementById("body");
        if(el.className == "light") {
            el.className = "dark";
        }
        else {
            el.className = "light";
            }
        }
    </script>
  
</body>
    
{% endblock body %}